.MiddleOfHomePage{
    margin-left: 4rem;
    text-align: center;
    font-size: large;

}
.grougImage{
    margin: 1rem;
    width: 20%;
    height: 20%;
}
.buttonHome{
    margin-left: 4rem;
    margin-right: 4rem;
}
