button {
    padding: 10px;
    background-color: rgb(137, 185, 240);
    color: whitesmoke;
    font-weight: bold;
    font-size: medium;
    align-content: stretch;
    border: 0;
    border-radius: 12px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;

}
button:hover{
    background-color:  rgb(137, 185, 240);;
    color: grey;
    
}
