
.teacher-profile-header{
    background-color: #43C0F6;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.teacher-profile-headerlogo{
  height: 50px;
  margin-left: 80px;
}
.navbar-options{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-right: 100px;
}
.teacher-profile-home:hover{
    cursor: pointer;
}
.teacher-profile-home, .teacher-profile-projects, .teacher-profile-teachers{
    margin-right: 30px;
    border: none;
    background: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
  .teacherprofile-flagsimage {
    margin-bottom: 10px;
    margin-right: 120px;
    margin-top: 50px
  }
  
  .nzflag10 {
    height: 12px;
    margin-inline: 5px;
  }
  
  .maoriflag10 {
    width: 22px;
    height: 12px;
  }
  .teacherprofile-header-name{
    color: white;
    font-size: 20px;  
    margin-top: 10px;
  }
  