@import url(https://www.1001fonts.com/nunito-font.html);
.teacher-profile{
    height: 100vh;
    background-color: #EEEEEE;
}
.teacher-profile-side{
    margin-top: 60px;
    display: inline-flex;
}
.teacherprofile-options {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 300px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 204px;
    left: 343px;
    width: 261px;
    height: 312px;
    border: 2px solid #E2DFDF;
    border-radius: 30px;
}
.teacher-info {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 412px;
    width: 450px;
    border: 2px solid #E2DFDF;
    border-radius: 30px;
    font-style: Nunito;
    font-weight: bold;
    color: #707070;
}
.teacher-profile-btn1{
    /* background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    border-color: skyblue;
    border-style: solid;
    color: skyblue;
    width: 135px;
    height: 25px;
    font-weight: bold; */
    background-color: white;
    color: skyblue;
    border-style: solid;
    border-color: skyblue;
    width: 220px;
}

.dashboard-projects{
    margin-bottom: 50px;
}
.teacherprofile-back-projects{
    margin-left: 700px;
    margin-top: 30px;
    margin-right: 20px;
    width: 270px;
    height: 40px;
    background-color: rgb(216, 161, 58);
    border-style: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.teacherprofile-back-dashboard{
    width: 270px;
    height: 40px;
    background-color: #FD349C;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border-style: none;
}
.back-dashboard:hover,
.back-projects:hover
{
    cursor: pointer;
}