html, body{
    margin: 0;
    padding: 0;
}
h3{
    font-weight: bold;
    margin-left: 30px;
}
.helptext, .time-container{
    font-weight: bold;
}
.helprequest-mainContainer{
    /* position: fixed; */
    margin-left: 56px;
    background-color: #B2E4FA;
    padding-left: 250px;
    padding-top: 50px;
    padding-bottom: 60px;
    /* height: calc(92vh - 150px); */
    width: 78%;
    display: flex;
}
.helpRequest-boxContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
    /* padding-left: 80px; */
}
.help-container{
    display: flex;
        flex-direction: column;
        align-items:flex-start;
        margin-left: 10px;
        overflow: scroll;
}

.help-request {
    background-color: #cfebf8;
    color: #484646;
    font-family: open Sans;
    width: 85%;
    height:500px;
    padding-top: 10px;
    /* padding-left: 40px; */
    border-radius: 30px;
}

.helprequest-secondContainer{
    background-color: white;
    color: #484646;
    font-family: open Sans;
    width: 800px;
    height: 45px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 70px;
}

.reply-done{
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    padding-left: 650px;
    margin-bottom: 30px;
}
.mark-as-done{
    background: none;
    color: rgb(74, 73, 73);
    font-size: 13px;
    padding-left: 0px;
    margin-left: 0px;
}
.mark-as-done:hover{
    background: none;
    color: rgb(74, 73, 73); 
}

.reply-tick, .done-tick{
    display: flex;
    align-items: center;
    height: 20px;
    padding-bottom: 10px;
    margin-left: 20px;
}
h5{
    padding-left: 10px;
}
.done-tick:hover{
    background-color: rgb(89, 196, 89);
    padding: 10px 5px 10px 5px;
}

.student-img{

    height: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.time-container{
    margin-left: 300px;
}