.footer {
  text-align: center;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  align-items: center;
  height: 40px;
}
.footer img {
  width: 10%;
  margin-top: 2px;
}
