.homeFooter{
    margin:0;
    margin-bottom: 0;
    height: 400px;
    display: flex;
    background-color: rgba(178, 228, 250, 1);
    color:#3c3c3c;
}
.homeCourses{

    margin-right: 20px;
    margin-left: 80px;
    margin-top: 50px;
}
.levelupContact{
    margin-right: 60px;
    width:300px
}

@media only screen and (max-width: 768px){
    .homeCourses {width: 100%;}
    .levelupContact {width: 100%;}

}