.navbar {
  display: flex;
  background-color: rgba(67, 192, 246, 1);
  height: 60px;
}
.navlogo {
  margin-left: 5rem;
  display: flex;
  margin-top: 2px;
  height: 50px;
  width: 45px;
}
.navList {
  background: rgba(67, 192, 246, 1);
  margin: 0;
  margin-left: 18rem;
  display: flex;
  align-items: flex-end;
}
.navItem {
  list-style: none;
  margin-right: 0rem;
}
.navrightContainer {
  display: flex;
  margin-left: auto;
  margin-right: 2rem;
  flex-direction: column;
}
.languageContainer {
  display: flex;
  margin-left: auto;
  margin-right: 2rem;
  align-items: flex-start;
}
.flags{
  margin-top: 5px;
  width: 22px;
  height: 12px;
  margin-inline: 5px;
}
.loginSignupContainer {
  display: flex;
  margin-left: auto;
  margin-right: 2REM;
  align-items: flex-end;
  
}
.navLogin {
  display: flex;
  margin-left: auto;
  margin-right: 0px;
  padding: 5px;
}
.navAvatar{
  display: flex;
  align-items: flex-end;
  height: 25px;
  width: 25px;
}
button {
  padding: 10px;
  background-color: rgba(67, 192, 246, 1);
  color: whitesmoke;
  font-weight: bold;
  font-size: medium;
  align-content: stretch;
  border: 0;
  border-radius: 12px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 20px;
  margin-top: 10px;

}
button:hover{
  background-color:  rgba(67, 192, 246, 1);
  color: grey;
}