/* .yellowButton{
    background-color: yellow;
    top: 18px;
    left: 1130px;
    width: 200px;
    height: 35px;
    font-size: 10px;
    align-items: right;
    margin: auto;
} */
/* .teacher-options {
    top: 18px;
    bottom: 10px;
    left: 1130px;
    width: 200px;
    height: 35px;
    align-items: right;
} */
/* teacher-navbar{
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
} */
/* .TeacherNavbar{
top: 0px;
    left: 0px;
    width: 1920px;
    height: 80px;
} */
.teacher-navbar{
    background-color: grey;
    width: 100%;
}