.Header {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    /* background: radial-gradient(grey 50%);*/
    background-position: center;
    background-size: center;
    background-image: url("~/public/src-assets/Home/hero.png");
  }
  
  .homeHeading {
      margin-top: 2rem;
      margin-left: 6rem;
      width: 22rem;
      align-self: center;
  }
  .homeheader{
      display: flex;
      flex-direction: row;
  }
  .homeLearnMore{
      display: flex;
      background-color: white;
      color: dimgray;
      text-align: center;
      padding: 10px;
      border-radius: 12px;
      padding-left: 10px;
      padding-right: 10px;
  }
  .homeSignup{
      display: flex;
      font-size: xx-small;
      flex-direction: column;
  }
  .signup{
      display: flex;
      background-color: rgb(240, 72, 100);
      color: white;
      padding: 12px;
      border-radius: 12px;
      text-align: center;
      padding-left: 40px;
      padding-right: 20px;
  }
  
  