
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin-left: 0;
    margin-right: 0;
  }
  
  
  .studentsCreate{
    
    margin-top:2rem;
    margin-left: 4rem;
    width: 50%;
    height: 30px;
  }
  

